<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <div class="center">
    
    <div class="login-box ">
        <div class="loginImage">
        <img src="static/images/logo.png" alt="Login Image">
    </div>
    
      <form>
        <div>
            <a class="login-buttons"href="#">Admin Login</a>
            <a class="login-buttons"href="/operator">operator Login</a>
       
          </div>
      </form>
    </div>
  </div>

</body>
</html>

